{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename = 'css/design.css') }}">
{% endblock %}

{% block content %}
    <h1 align = "center" style="margin-top:140px;">The evil Doofenshmirtz corporation</h1>
    <h2 align = "center">The evil Doofenshmirtz corporation give you the opportunity to travel on any of the tours we offer.</h2>
    <div class = "center_div">
        <h2 class = "title" align = "center">Feedback</h2>
    
        <div class = "feedback_form">
            <form method = "post">
                <div class = "input_div">
                    <p class = "input_holder"> Your name: </p>
                    <input class = "enter_name" type="text" name="name">
                </div>
                <div class = "input_div">
                    <p class = "input_holder">Your email:</p>
                    <input class = "enter_email" type="text" name="email">
                </div>
                <div class = "input_div">
                    <p>Your feedback:</p>
                    <textarea name="feedback" class = "input_feedback"></textarea>
                </div>
                <button type = "submit" class="button_submit">Send</button>
            </form>
        </div>
    </div>
{% if is_message %}
    <div class = "div_vikno">
        <div class = "answer_window">
            <h1>Hey! Your message was sended</h1>
        </div>
    </div>
{% endif %}
{% endblock %}



{% block script %}
    <script defer src="{{ url_for('home.static', filename = 'js/home.js') }}"></script>
{% endblock %}


