@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: #DCE6FF
    
}

.main-cart{
    margin-top: 207px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 1500px;
    height: 1700px;
    padding: 0px 0px 0px 280px;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
}

.invisible-div{
    width: 375px;
    height: 382px;
    z-index: 3;
    margin-right: 70px;
    padding-bottom: 50px;
}

.back-cart{
    background-color: rgba(64, 84, 167, 0.5);
    /* opacity: .3; */
    border-radius: 25px;
    width: 346px;
    height: 355px;
    z-index: 2;
    /* padding-top: 15px;
    padding-left: 15px; */

}
.front-cart{
    background-color: rgba(72, 95, 186, 0.5);
    display: flex;
    position: relative;
    top: 30px;
    left: 30px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    width: 346px;
    height: 355px;
    z-index: 1;
}

.more-cart{
    width: 346px;
    height: 355px;
    border-radius: 25px;
    text-align: center;
}
.for-button{
    background-color: rgb(81, 100, 219);
    width: 240px;
    margin-right: 45x;
    margin-left: 40px;
}

.image{
    width: 316px;
    height: 170px;
    border-radius: 25px;
    margin-right: 30px;
}

.button{
    text-decoration: none;
    font-family:'Inter', sans-serif; 
    font-weight: bold;
    background-color: rgb(81, 100, 219);
    color: white;
    width: 67px;
    height: 30px;
    margin-top: 100px;
}

.country{
    display: block;
    margin-left: 40%;
    font-family:'Inter', sans-serif; 
    font-weight: bold;
    width: 10px;
    height: 30px;
    font-size: 20px;
    color: white;

}