{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <div id = "body-div">
        <div id="home_placer">
            <p>Sing in</p>
        </div>
        <form method = "post" id = "login_content">
            <p class = "input_holder">Username</p>
            <input class = "input_holder" type = "text" name = "username" placeholder = "">
            <p class = "input_holder">Password</p>
            <input class = "input_holder" type = "text" name = "password" placeholder = "">
            <button class = "login_submit" type = "submit"> Send </button>
        </form>
    </div>

    {% if not confirm %}

    <style>
         #body-div{
            opacity: 0.5;
        }
    </style>
     
    <div id="div0">
        <h1 id="hh1" align = "center">YOU ARE NOT REGISTERED</h1>
        <div style="display: flex;" id="div1">
            <p id = "to_login" style="margin: 0;">→</p>
            <a id = "to_login" href="/registration">REGISTRATION</a>           
        </div>
    </div>
    {% endif %}

{% endblock %}