{% extends "base.html" %}

{% block title %} Login {% endblock %}


{% block style %}<link rel="stylesheet" href="{{ url_for('user.static', filename='login/css/style.css') }}"> {% endblock %}

{% block content %}

<div id="body-div">
    <div class="login_placer">
        <form method="post" id="login_content">
            <p class="input_holder">Enter Username:</p>
            <input class="input_holder" type="text" name="username" placeholder="">
            <p class="input_holder">Enter Password:</p>
            <input class="input_holder" type="password" name="password" placeholder="">
            <button class="login_submit" type="submit">SEND</button>
        </form>
    </div>
</div>

    {% if not confirm %}

    <style>
         #body-div{
            opacity: 0.5;
        }
    </style>
     
    <div id="div0">
        <h1 id="hh1" align = "center">YOU ARE NOT REGISTERED</h1>
        <div style="display: flex;" id="div1">
            <p id = "to_login" style="margin: 0;">→</p>
            <a id = "to_login" href="/user/registration/">REGISTRATION</a>           
        </div>
    </div>
    {% endif %}

{% endblock %}