{% extends "base.html" %}

{% block title %}Registration{% endblock  %}

{% block style %}<link rel="stylesheet" href="{{ url_for('user.static', filename='registration/css/style.css') }}"> {% endblock %}

{% block content %}
    <div id = "body-div">
        <div class = "reg_placer">
            <form method = "post" class = "reg_content">
                <p class="input_holder">Enter Username:</p>
                <input class = "reg_input" type = "text" name = "username" placeholder = "">
                <p class="input_holder">Enter Password:</p>
                <input class = "reg_input" type = "text" name = "password" placeholder = "">
                <button type = "submit" class = "reg_submit">SEND</button>
            </form>
            <!-- <p id = "yahac-link" >You already have an account, <a href = "/user/login/">click here</a>.</p> -->
        </div>
    </div>

    {% if confirm %}

        <style>
        
            #body-div{
                opacity: 0.5;
            }
        
        </style>
        
        <div id="div0">
            <h1 id="hh1" align = "center">CONFIRMED</h1>

            <div style="display: flex;" id="div1">
                <p id = "to_login" style="margin: 0;">→</p>
                <a id = "to_login" href="/user/login/">AUTHORISATION</a>           
            </div>
        </div>
  
    {% endif %}


{% endblock %}