{% extends 'base.html' %}

{% block title %}
Tour
{% endblock %}

{% block style %}
<link rel = "stylesheet" href = "{{ url_for('tour.static', filename = 'css/style.css' ) }}">
{% endblock %}

{% block content %}

       
    <div class = 'main-cart'>
        {% for countries in all_trips %}   
            <div class = 'invisible-div'>
                <div class = 'back-cart'>
                    <div class = 'front-cart'>
                        <div class = 'more-cart'>
                            <img src="{{ url_for('tour.static', filename = 'images/turkey.jpg' ) }}" alt="turkey" class = 'image'>
                            <p class = 'country'>{{ countries.country }}</p>
                            <a href="/tour/{{ countries.id }}" class = 'button'>Перейти до туру</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}