body {
    overflow-x: hidden;
}

.feedback_form {
    left: 21px;
    border-radius: 20px;
    width: 428px;
    height: 305px;
    background-color: rgba(69, 85, 153, 1);
}

.input_div {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 350px;
    color: white;
    font-size: 20px;
    gap: 30px;
}

.enter_name {
    border: 1px solid white;
    border-radius: 20px;
    font-family: "Inter";
    
}

.enter_email {
    border: 1px solid white;
    border-radius: 20px;
    font-family: "Inter";
}

.input_feedback {
    border: 1px solid white;
    border-radius: 20px;
    font-family: "Inter";
}

.button_submit {
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 170px;
    background-color: #2C3661;
    color: white;
}

.title {
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(69, 85, 153, 1);
    color: white;
    width: 428px;
    height: 70px;
    bottom: 305px;
    left: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}


.center_div{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.div_vikno {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #2c366178;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer_window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCE6FF;
    border: 5px solid black;
    border-radius: 25px;
    padding: 50px;
}
