<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
    </head>
    
    <body>
        <a href="/">Home</a>
        <a href="/user/">User</a>
        <a href="/tour/">Tour</a>
        {% if username == "" %}
            <a href="/user/registration/">Registration</a>
            <a href="/user/login/">Login</a>
        {% endif %}
        {% if username != "" %}
            <h1> {{ username }} </h1>
            <button id = "log_out_button"> Log out </button>
        {% endif %}
        

        {% block content %}{% endblock %}
        <script src = "{{ url_for('static', filename = 'js/base.js') }}"></script>
    </body>

</html>